<div class="row">
    <div class="col-12">
        <div class="footer-info text-white d-flex">
            <div class="info1">
                <p>HALOVIETNAM LTD</p>
                <p> 66, Dang Van ngu, Dong Da</p>
                <p> Hanoi, Vietnam</p>
                <p>
                    <a class="list-item" href="mailto:contact@halovietnam.com">contact@halovietnam.com</a>
                </p>
                <p>
                    <a class="list-item" href="tel:+844 35149182"> +844 35149182</a>
                </p>
            </div>
            <div class="info2">
                <p>
                    <a class="list-item" href="javascript:;">examples</a>
                </p>
                <p>
                    <a class="list-item" href="javascript:;">shop</a>
                </p>
                <p>
                    <a class="list-item" href="javascript:;">pcense</a>
                </p>
            </div>
            <div class="info3">
                <p>
                    <a class="list-item" href="javascript:;">contact</a>
                </p>
                <p>
                    <a class="list-item" href="javascript:;">about</a>
                </p>
                <p>
                    <a class="list-item" href="javascript:;">privacy</a>
                </p>
                <p>
                    <a class="list-item" href="javascript:;">terms</a>
                </p>
            </div>
            <div class="info4 mt-3 mt-md-0">
                <p>
                    <a class="list-item" href="javascript:;">
                        download
                    </a>
                </p>
                <p>
                    <a class="list-item" href="javascript:;">
                        support
                    </a>
                </p>
                <p>
                    <a class="list-item" href="javascript:;">
                        documents
                    </a>
                </p>
            </div>
            <div class="info5 mt-3 mt-md-0">
                <p>
                    <a class="list-item" href="javascript:;">media</a>
                </p>
                <p>
                    <a class="list-item" href="javascript:;">blog</a>
                </p>
                <p>
                    <a class="list-item" href="javascript:;">forums</a>
                </p>
            </div>
        </div>
    </div>
</div>