<div class="row">

    <div class="col-md-5">
        <div class="inspiration">
            <h3 class="primary-heading">
                Inspire your inspiration
            </h3>
            <p class="primary-para">
                Simple to use for your app, products showcase and your inspiration
            </p>
            <p class="secondary-para">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique
                bibendum.
                Donec rutrum sed sem quis venenatis. Proin viverra risus a eros volutpat tempor. In quis arcu et eros
                porta
                lobortis sit
            </p>
        </div>
    </div>


    <div class="col-md-5 offset-md-2">
        <img class="img-fluid" src="../../../assets/images/iPad.png" alt="ipad" title="iPad">
    </div>
</div>