


<div class="row">
    <div class="col-md-4 mb-3 mb-80">
        <div class="row">
            <div class="col-3">
                <div class="fea-font">
                <i class="fa-regular fa-code fa-3x"></i>
                </div>
            </div>
            <div class="col-9">
                <div class="feaInfo">
                    <h3 class="secondary-heading">Fully Responsive</h3>
                    <p class="secondary-para">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3 mb-80">
        <div class="row">
            <div class="col-3">
                <div class="fea-font">
                    <i class="fa-regular fa-lemon fa-4x"></i>
                </div>
            </div>
            <div class="col-9">
                <div class="feaInfo">
                    <h3 class="secondary-heading">Fully Layered PSD</h3>
                    <p class="secondary-para">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3 mb-80">
        <div class="row">
            <div class="col-3">
                <div class="fea-font">
                <i class="fa-regular fa-folder fa-3x"></i>
                </div>
            </div>
            <div class="col-9">
                <div class="feaInfo">
                    <h3 class="secondary-heading">Font Awesome Icons</h3>
                    <p class="secondary-para">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3 mb-md-0 mb-lg-0">
        <div class="row">
            <div class="col-3">
                <div class="fea-font">
                <i class="fa-regular fa-code fa-3x"></i>
                </div>
            </div>
            <div class="col-9">
                <div class="feaInfo">
                    <h3 class="secondary-heading">HTML3 & CSS3</h3>
                    <p class="secondary-para">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3 mb-md-0 mb-lg-0">
        <div class="row">
            <div class="col-3">
                <div class="fea-font">
                <i class="fa-regular fa-envelope fa-3x"></i>
                </div>
            </div>
            <div class="col-9">
                <div class="feaInfo">
                    <h3 class="secondary-heading">Email Template</h3>
                    <p class="secondary-para">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3 mb-md-0 mb-lg-0">
        <div class="row">
            <div class="col-3">
                <div class="fea-font">
                <i class="fa-regular fa-bookmark fa-3x"></i>
                </div>
            </div>
            <div class="col-9">
                <div class="feaInfo">
                    <h3 class="secondary-heading">Free To Download</h3>
                    <p class="secondary-para">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
