.headerSec {
    background-color: yellow;

    .bg-light {
        background-color: transparent !important;
        margin-bottom: 4.06rem;
    }
    .inspiration{
        .primary-heading{
            margin-top: 4.37rem;
        }
        .primary-para{
            color:#313841
        }
    }
    .nav-item {
        padding-left: 4.37rem;
        .nav-link {
            font-size: 1.37rem;
            font-weight: bold;
            color: $secondary-color;
            text-transform: capitalize;
            transition: all 0.3s ease-in-out;
        }

        :hover,
        :active,
        :focus {
            background-color: $secondary-color;
            color: $primary-color !important;
            border-radius: 0.31rem;
        }
    }
}
