<div class="heading">
    <h3 class="primary-heading text-capie">tinyone features</h3>
    <p class="secondary-heading">
        Lorem ipsum dolor sit amet, consectetur adipiscing. Praesent vitae eros eget tellus tristique bibendum.
        Donec rutrum sed sem quis venenatis.
    </p>
    <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
            <label for="email" class="sr-only">Enter your email to update</label>
            <input type="text" class="form-control" id="email" placeholder="Enter your email to update">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
    </form>
    <div class="footer-icons d-flex justify-content-center">

        <a class="icon" href="javascrpt:;">
            <i class="fa-brands fa-square-facebook fa-3x"></i>
        </a>
        <a class="icon" href="javascrpt:;">
            <i class="fa-brands fa-square-twitter fa-3x"></i>
        </a>
        <a class="icon" href="javascrpt:;">
            <i class="fa-brands fa-square-google-plus fa-3x"></i>
        </a>
        <a class=icon href="javascrpt:;">
            <i class="fa-brands fa-square-pinterest fa-3x"></i>
        </a>

    </div>
</div>